<div class="articles-col flex-row-item swiper-slide">
	<div class="article-item">
		<a href="#" class="item-link" aria-label="Читать статью"></a>
		<div class="article-item-img">
			<span><img src="img/article-item-img-@@img.jpg" srcset="img/article-item-img-@@img@2x.jpg 2x" alt=""></span>
		</div>
		<div class="article-item-body">
			<div class="article-item-title">@@title</div>
			<div class="article-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ac turpis nunc bibendum quam venenatis. Nunc amet, ullamcorper in nunc.</div>
			<div class="article-item-foot">
				<div class="article-item-views">
					<svg width="20" height="20"><use xlink:href="#icon-eye"/></svg>
					<span>1 129</span>
				</div>
				<div class="article-item-btn">Читать</div>
			</div>
		</div>
	</div>
</div>