<div class="catalog-filter-open-wrapp visible-tablet">
	<a href="#" class="catalog-filter-open btn">Фильтр</a>
</div>
<div class="catalog-filter">
	<div class="catalog-filter-head visible-tablet">
		<div class="container">
			<div class="catalog-filter-head-title">Фильтр</div>
			<a href="#" class="catalog-filter-close" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="catalog-filter-section catalog-filter-section-price">
			<div class="catalog-filter-title">Цена, ₽</div>
			<div class="range-slider-wrapp">
				<div class="range-inputs">
					<label class="form-block">
						<span class="range-input-title">От</span>
						<input type="text" class="input input-small range-input range-input-from" value="0">
					</label>
					<label class="form-block value">
						<span class="range-input-title">до</span>
						<input type="text" class="input input-small range-input range-input-to" value="3 000">
					</label>
				</div>
				<div class="range-slider" data-min="0" data-max="3000" data-value-from="0" data-value-to="3000" data-step="100">
					<div class="range-slider-marker range-slider-marker-from">0</div>
					<div class="range-slider-marker range-slider-marker-center">1 500</div>
					<div class="range-slider-marker range-slider-marker-to">3000</div>
				</div>
			</div>
		</div>
		<div class="catalog-filter-section">
			<div class="catalog-filter-title">Страна</div>
			<ul class="catalog-filter-menu">
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Германия</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Израиль</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Индия</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Италия</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Китай</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Нидерланды</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Россия</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>США</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Турция</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Франция</span>
					</label>
				</li>
			</ul>
			<ul class="catalog-filter-menu catalog-filter-menu-more">
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Lorem</span>
					</label>
				</li>
			</ul>
			<a href="#" class="catalog-filter-menu-more-toggle" data-text="Показать все страны" data-text-active="Свернуть">Показать все страны</a>
		</div>
		<div class="catalog-filter-section">
			<div class="catalog-filter-title">Производитель</div>
			<ul class="catalog-filter-menu">
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>ConvaTec</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Mederen Neotech Ltd</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>ALBA Healthcare</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Казанские полимерные изделия</span>
					</label>
				</li><li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Vogt Medical GmbH</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>UNIСORN MED</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>INTEGRAL</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>SURU International</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>GVS Filter tehnology</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Apexmed</span>
					</label>
				</li>
			</ul>
			<ul class="catalog-filter-menu catalog-filter-menu-more">
				<li>
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Lorem</span>
					</label>
				</li>
			</ul>
			<a href="#" class="catalog-filter-menu-more-toggle" data-text="Показать всех производителей" data-text-active="Свернуть">Показать всех производителей</a>
		</div>
		<ul class="catalog-filter-btns">
			<li>
				<a href="#" class="btn btn-full catalog-filter-submit">Применить</a>
			</li>
			<li>
				<a href="#" class="catalog-filter-reset">Очистить</a>
			</li>
		</ul>
	</div>
</div>