<footer class="footer">
	<div class="footer-body">
		<div class="container">
			<div class="footer-row flex-row">
				<div class="footer-col footer-col-contacts flex-row-item">
					<div class="footer-contacts">
						<div class="footer-social">
							<div class="footer-title">Гипермед в соцсетях:</div>
							<ul class="social-list">
								<li>
									<a href="#" aria-label="VK" target="_blank">
										<img src="img/social-vkontakte.svg" alt="">
									</a>
								</li>
								<li>
									<a href="#" aria-label="OK" target="_blank">
										<img src="img/social-ok.svg" alt="">
									</a>
								</li>
								<li>
									<a href="#" aria-label="Facebook" target="_blank">
										<img src="img/social-facebook.svg" alt="">
									</a>
								</li>
								<li>
									<a href="#" aria-label="Instagram" target="_blank">
										<img src="img/social-instagram.svg" alt="">
									</a>
								</li>
								<li>
									<a href="#" aria-label="Twitter" target="_blank">
										<img src="img/social-twitter.svg" alt="">
									</a>
								</li>
								<li>
									<a href="#" aria-label="Youtube" target="_blank">
										<img src="img/social-youtube.svg" alt="">
									</a>
								</li>
							</ul>
						</div>
						<ul class="footer-tels hidden-mobile">
							<li>
								<a href="tel:88003014406">
									<b>8 800 301-44-06</b>
									<span>Бесплатный звонок по РФ</span>
								</a>
							</li>
							<li>
								<a href="tel:84951183406">
									<b>8 495 118-34-06</b>
								</a>
							</li>
						</ul>
						<ul class="footer-contacts-links footer-menu hidden-mobile">
							<li><a href="mailto:order@gipermed.ru" target="_blank">order@gipermed.ru</a></li>
							<li><a href="#modal-recall" class="modal-open-btn">Заказать звонок</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col footer-col-about flex-row-item">
					<div class="footer-menu-wrapp">
						<div class="footer-title">О нас</div>
						<ul class="footer-menu">
							<li><a href="#">О&nbsp;компании</a></li>
							<li><a href="#">Миссия</a></li>
							<li><a href="#">Вакансии</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col footer-col-catalog flex-row-item hidden-tablet">
					<div class="footer-menu-wrapp">
						<div class="footer-title">Разделы товаров</div>
						<ul class="footer-menu">
							<li><a href="#">Медицинские изделия</a></li>
							<li><a href="#">Красота и фитнес</a></li>
							<li><a href="#">Здоровое питание</a></li>
							<li><a href="#">Бады</a></li>
							<li><a href="#">Мать и дитя</a></li>
							<li><a href="#">Ветеринария</a></li>
							<li><a href="#">Товары для взрослых 18+</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col footer-col-users flex-row-item">
					<div class="footer-menu-wrapp">
						<div class="footer-title">Пользователям</div>
						<ul class="footer-menu">
							<li><a href="#">Программа лояльности</a></li>
							<li><a href="#">Связаться с нами</a></li>
							<li><a href="#">Как сделать заказ?</a></li>
							<li><a href="#">Как оплатить?</a></li>
							<li><a href="#">Возврат</a></li>
							<li><a href="#">Вопрос - Ответ</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col footer-col-order flex-row-item">
					<div class="footer-menu-wrapp">
						<div class="footer-title">Получение и оплата</div>
						<ul class="footer-menu">
							<li><a href="#">Способы оплаты</a></li>
							<li><a href="#">Адреса магазинов</a></li>
							<li><a href="#">Пункты выдачи</a></li>
							<li><a href="#">Доставка по Москве и Подмосковью</a></li>
							<li><a href="#">Доставка в регионы России</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col footer-col-info flex-row-item">
					<div class="footer-menu-wrapp">
						<div class="footer-title">Полезная информация</div>
						<ul class="footer-menu">
							<li><a href="#">Статьи</a></li>
							<li><a href="#">Видео о товарах</a></li>
							<li><a href="#">Бренды</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="container">
			<div class="foot-row flex-row">
				<div class="foot-col flex-row-item">
					<div class="copyright">© 2021. ООО «ЦТМТ «Гипермед». Все права защищены.</div>
				</div>
				<div class="foot-col flex-row-item">
					<a href="#">Политика конфиденциальности</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="scroll-btns">
	<a href="#" class="scroll-btn" data-scroll="top" aria-label="Наверх">
		<svg width="48" height="48"><use xlink:href="#icon-arrow-down"/></svg>
	</a>
	<a href="#" class="scroll-btn" data-scroll="bottom" aria-label="Вниз">
		<svg width="48" height="48"><use xlink:href="#icon-arrow-down"/></svg>
	</a>
</div>
@@if(context.order){
	<div id="modal-order-cancel" class="modal modal-order-cancel">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Отмена заказа</div>
			</div>
			<div class="modal-content">
				<svg width="36" height="36"><use xlink:href="#icon-question"/></svg>
				<div class="order-cancel-tooltip-text">
					<p>Заказ возможно отменить до статуса «Принят».
					<p>Если у вас остались вопросы - напишите в службу поддержки на электронную почту: <a href="mailto:order@gipermed.com" target="_blank">order@gipermed.com</a> или свяжитесь с оператором интернет-магазина по телефону: <a href="tel:88003014406">8 800 301-44-06</a>
				</div>
			</div>
		</div>
	</div>
}
@@if(context.thanks){
	<div id="modal-thanks" class="modal modal-thanks">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-thanks-head">
					<div class="logo">
						<img src="img/logo.svg" alt="" width="63">
					</div>
					<div class="modal-title">Спасибо за заказ</div>
				</div>
				<div class="modal-thanks-head-desc">Иван, ваш заказ оформлен. Пожалуйста, дождитесь подтверждения вашего заказа.</div>
				<div class="modal-thanks-head-order">
					<table class="modal-thanks-head-order-table">
						<tr>
							<td>Номер заказа</td>
							<td>4356</td>
						</tr>
						<tr>
							<td>Дата</td>
							<td>13.04.2021 г.</td>
						</tr>
						<tr>
							<td>Сумма</td>
							<td>45 032 ₽.</td>
						</tr>
						<tr>
							<td>Статус оплаты</td>
							<td>Оплачен</td>
						</tr>
						<tr>
							<td>Адрес доставки</td>
							<td>Пункт выдачи заказа СДЕК<br> г. Москва, ул. Летная, д. 7, стр. 4</td>
						</tr>
						<tr>
							<td>Дата получения</td>
							<td>23-25.04.2021 г.</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="modal-thanks-order">
				@@include('ordering-confirm-items.html')
			</div>
			<div class="modal-content">
				<div class="content-text">
					<p>Вы можете следить за выполнением своего заказа (на какой стадии выполнения он находится), войдя личный кабинет интернет-магазина www.gipermed.com.
					<p>Для того, чтобы аннулировать заказ, воспользуйтесь функцией отмены заказа, которая доступна личном кабинете интернет-магазина  www.gipermed.com.
					<p>Пожалуйста, при обращении к администрации сайта www.gipermed.com указывайте номер вашего заказа.
				</div>
				<div class="modal-thanks-foot">
					<div class="modal-thanks-foot-desc">
						С уважением,<br> администрация Интернет-магазина!
					</div>
					<a href="" class="btn btn-green modal-thanks-btn">Вернуться на главную</a>
				</div>
			</div>
		</div>
	</div>
}
<div id="modal-city" class="modal modal-city">
	<div class="modal-body">
		<a href="#" class="modal-close-btn" aria-label="Закрыть">
			<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
		</a>
		<div class="modal-title modal-city-title">Выберите ваш город</div>
		<form action="?" class="city-search">
			<label class="form-block" aria-label="Начните вводить название">
				<input type="search" class="input city-search-input" placeholder="Начните вводить название" required>
			</label>
			<button type="submit" class="city-search-submit">
				<svg width="20" height="20"><use xlink:href="#icon-search"/></svg>
			</button>
		</form>
		<div class="modal-city-popular">
			<div class="modal-city-popular-title">Популярные города</div>
			<ul class="modal-city-popular-list">
				<li class="active"><a href="#">Москва</a></li>
				<li><a href="#">Тула</a></li>
				<li><a href="#">Вологда</a></li>
				<li><a href="#">Казань</a></li>
				<li><a href="#">Краснодар</a></li>
				<li><a href="#">Новосибирск</a></li>
				<li><a href="#">Ростов-на-Дону</a></li>
				<li><a href="#">Чебоксары</a></li>
				<li><a href="#">Владимир</a></li>
				<li><a href="#">Брянск </a></li>
				<li><a href="#">Воронеж</a></li>
				<li><a href="#">Калининград </a></li>
				<li><a href="#">Красноярск</a></li>
				<li><a href="#">Омск</a></li>
				<li><a href="#">Рязань</a></li>
				<li><a href="#">Челябинск</a></li>
				<li><a href="#">Санкт-Петербург</a></li>
				<li><a href="#">Владивосток </a></li>
				<li><a href="#">Екатеринбург</a></li>
				<li><a href="#">Калуга </a></li>
				<li><a href="#">Липецк</a></li>
				<li><a href="#">Орел</a></li>
				<li><a href="#">Самара</a></li>
				<li><a href="#">Ярославль</a></li>
				<li><a href="#">Тверь</a></li>
				<li><a href="#">Волгоград </a></li>
				<li><a href="#">Иваново</a></li>
				<li><a href="#">Кострома </a></li>
				<li><a href="#">Нижний Новгород</a></li>
				<li><a href="#">Пермь</a></li>
				<li><a href="#">Тюмень</a></li>
				<li><a href="#">Чита</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="modal-sent" class="modal modal-sent">
	<div class="modal-body">
		<a href="#" class="modal-close-btn" aria-label="Закрыть">
			<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
		</a>
		<div class="modal-head">
			<div class="modal-title">Спасибо за ваш запрос!</div>
		</div>
		<div class="modal-content">
			<div class="modal-sent-icon">
				<img src="img/sent-icon.svg" alt="">
			</div>
			<div class="modal-sent-desc modal-desc">В ближайшее время с вами свяжется менеджер и ответит на все интересующие вопросы по указанному номеру телефона.</div>
			<a href="#" class="btn btn-full submit modal-close-link">Закрыть</a>
		</div>
	</div>
</div>
<div id="modal-recall" class="modal modal-recall">
	<div class="modal-body">
		<a href="#" class="modal-close-btn" aria-label="Закрыть">
			<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
		</a>
		<div class="modal-head">
			<div class="modal-title">Заказать звонок</div>
		</div>
		<div class="modal-content">
			<form action="?" class="recall-form form form-ajax" data-modal-sent="#modal-sent">
				<label class="form-block" aria-label="Имя">
					<input type="text" class="input" placeholder="Имя*" required>
				</label>
				<label class="form-block" aria-label="Телефон">
					<input type="tel" class="input" placeholder="+7 (777) 777-77-77" required>
				</label>
				<div class="submit-wrapp">
					<button type="submit" class="btn submit btn-full">Отправить</button>
				</div>
				<div class="form-agreement">Нажимая кнопку «Отправить», Вы соглашаетесь на обработку <a href="#">персональных данных</a>.</div>
				<div class="form-required-info">* Поля обязательные для заполнения</div>
			</form>
		</div>
	</div>
</div>
<div id="modal-enter" class="modal modal-enter">
	<div class="modal-body">
		<a href="#" class="modal-close-btn" aria-label="Закрыть">
			<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
		</a>
		<div class="modal-head">
			<div class="modal-title">Вход</div>
		</div>
		<div class="modal-content">
			<form action="?" class="enter-form form">
				<label class="form-block" aria-label="E-mail или телефон">
					<input type="text" class="input" placeholder="E-mail или телефон" required>
				</label>
				<label class="form-block form-block-password" aria-label="Пароль">
					<input type="password" class="input" placeholder="Пароль" required>
					<a href="#" class="password-input-type-toggle">
						<svg width="18" height="18"><use xlink:href="#icon-eye-open"/></svg>
						<svg width="18" height="18"><use xlink:href="#icon-eye-close"/></svg>
					</a>
				</label>
				<div class="submit-wrapp">
					<button type="submit" class="btn submit btn-full">Войти</button>
				</div>
				<div class="enter-form-forgot-wrapp">
					<a href="#modal-forgot" class="enter-form-forgot modal-open-btn">Забыли пароль?</a>
				</div>
			</form>
		</div>
		<div class="modal-foot">
			<div class="modal-login-nav">
				<div class="modal-login-nav-title">Нет аккаунта?</div>
				<a href="#modal-registration" class="modal-login-nav-link modal-open-btn">Зарегистрироваться</a>
			</div>
		</div>
	</div>
</div>
<div id="modal-forgot" class="modal modal-forgot">
	<div class="modal-body">
		<a href="#" class="modal-close-btn" aria-label="Закрыть">
			<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
		</a>
		<div class="modal-head">
			<div class="modal-title">Забыли пароль?</div>
		</div>
		<div class="modal-content">
			<div class="modal-desc">Введите адрес электронной почты, мы отправим вам сообщение со ссылкой для сброса пароля.</div>
			<form action="?" class="forgot-form form">
				<label class="form-block" aria-label="E-mail">
					<input type="email" class="input" placeholder="example@example.ru" required>
				</label>
				<div class="submit-wrapp">
					<button type="submit" class="btn submit btn-full">Отправить</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="modal-registration" class="modal modal-registration">
	<div class="modal-body">
		<a href="#" class="modal-close-btn" aria-label="Закрыть">
			<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
		</a>
		<div class="modal-head">
			<div class="modal-title">Регистрация</div>
		</div>
		<div class="modal-content">
			<div class="modal-desc">Зарегистрируйтесь и начните совершать покупки на Гипермед.</div>
			<form action="?" class="registration-form form">
				<label class="form-block" aria-label="Имя">
					<input type="text" class="input" placeholder="Имя" required>
				</label>
				<label class="form-block" aria-label="Телефон">
					<input type="tel" class="input" placeholder="+7 (777) 777-77-77" required>
				</label>
				<label class="form-block" aria-label="Email">
					<input type="email" class="input" placeholder="example@example.ru" required>
				</label>
				<label class="form-block" aria-label="Пароль">
					<input type="password" class="input" pattern=".{8,}" placeholder="Придумайте пароль" required>
					<span class="form-block-desc">Пароль должен быть не меньше 8 символов</span>
				</label>
				<div class="form-block">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox-input">
						<span>Хочу участвовать в скидках, акциях и распродажах.</span>
					</label>
				</div>
				<button type="submit" class="btn submit btn-full">Зарегистрироваться</button>
				<div class="form-agreement">Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии моих заказов, а также принимаю условия <a href="#">политики конфиденциальности</a>.</div>
			</form>
		</div>
		<div class="modal-foot">
			<div class="modal-login-nav">
				<div class="modal-login-nav-title">Есть аккаунт?</div>
				<a href="#modal-enter" class="modal-login-nav-link modal-open-btn">Войти</a>
			</div>
		</div>
	</div>
</div>
<div id="modal-feedback" class="modal modal-feedback">
	<div class="modal-body">
		<a href="#" class="modal-close-btn" aria-label="Закрыть">
			<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
		</a>
		<div class="modal-head">
			<div class="modal-title">Связаться с нами</div>
		</div>
		<div class="modal-content">
			<div class="modal-desc">Мы постоянно работаем над тем, чтобы улучшить наш сервис. В этом очень помогают пожелания наших покупателей.</div>
			<div class="modal-desc modal-feedback-desc">Если у Вас есть вопросы и пожелания по работе сайта, колл-центра, службы доставки или качеству продукции воспользуйтесь формой обратной связи.</div>
			<form action="?" class="feedback-form form">
				<label class="form-block form-block-select">
					<i class="select-icon"><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<select class="select input">
						<option selected>Качество продукции</option>
						<option>2</option>
						<option>3</option>
					</select>
				</label>
				<div class="form-row flex-row">
					<div class="form-col flex-row-item">
						<label class="form-block" aria-label="Телефон">
							<input type="tel" class="input" placeholder="Телефон" required>
						</label>
					</div>
					<div class="form-col flex-row-item">
						<label class="form-block" aria-label="Email">
							<input type="email" class="input" placeholder="Электронная почта*" required>
						</label>
					</div>
				</div>
				<label class="form-block" aria-label="Имя">
					<input type="text" class="input" placeholder="Имя" required>
				</label>
				<label class="form-block" aria-label="Текст сообщения">
					<textarea class="input textarea" placeholder="Текст сообщения" required></textarea>
				</label>
				<div class="submit-wrapp">
					<button type="submit" class="btn submit btn-full">Отправить</button>
				</div>
				<div class="form-agreement">Нажимая кнопку «Отправить», Вы соглашаетесь на обработку <a href="#">персональных данных</a>.</div>
				<div class="form-required-info">* Поля обязательные для заполнения</div>
			</form>
		</div>
	</div>
</div>
@@if(context.adult){
	<div id="modal-adult" class="modal modal-adult">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Подтвердите возраст</div>
			</div>
			<div class="modal-content">
				<div class="modal-adult-body">
					<div class="modal-adult-icon">
						<img src="img/adult-icon.svg" alt="">
					</div>
					<div class="modal-adult-desc">Этот товар категории «для взрослых». Подтвердите, что вы старше 18 лет, чтобы перейти к товару</div>
				</div>
				<ul class="modal-adult-btns">
					<li>
						<a href="#" class="btn btn-large btn-green btn-full modal-adult-ok modal-close-link">Подтвердить</a>
					</li>
					<li>
						<a href="#" class="btn btn-large btn-border btn-border-alt btn-full modal-adult-not-ok modal-close-link">Отмена</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
}
@@if(context.product){
	<div id="modal-expected-registration" class="modal modal-expected">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Лист ожидания</div>
			</div>
			<div class="modal-content">
				<div class="modal-expected-desc">Чтобы добавить товар в лист ожидания необходимо зарегистрироваться в личном кабинете</div>
				<a href="#modal-registration" class="btn btn-full modal-open-btn">Зарегистрироваться</a>
			</div>
		</div>
	</div>
	<div id="modal-expected-add" class="modal modal-expected">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Лист ожидания</div>
			</div>
			<div class="modal-content">
				<div class="modal-expected-desc">
					<p>Товар добавлен в лист ожидания. Посмотреть товары из листа ожидания можно в личном кабинете. 
					<p>При появлении товара на складе мы отправим сообщение на почту или смс на телефон.
				</div>
				<a href="#" class="btn btn-full modal-close-link">Понятно</a>
			</div>
		</div>
	</div>
	<div id="modal-fast-buy" class="modal modal-fast-buy">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Заявка на покупку товара</div>
			</div>
			<div class="modal-content">
				<div class="modal-desc">Заполните форму быстрого заказа, наши менеджеры скоро свяжутся с вами.</div>
				<form action="?" class="fast-buy-form form">
					<label class="form-block" aria-label="Имя">
						<input type="text" class="input" placeholder="Имя" required>
					</label>
					<label class="form-block" aria-label="Телефон">
						<input type="tel" class="input" placeholder="+7 (777) 777-77-77" required>
					</label>
					<label class="form-block" aria-label="Email">
						<input type="email" class="input" placeholder="example@example.ru" required>
					</label>
					<div class="submit-wrapp">
						<button type="submit" class="btn submit btn-full">Оформить заказ</button>
					</div>
					<div class="form-agreement">Нажимая кнопку «Оформить заказ», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии моих заказов, а также принимаю условия <a href="#">политики конфиденциальности</a>.</div>
				</form>
			</div>
		</div>
	</div>
	<div id="modal-product-feedback" class="modal modal-product-feedback">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Связаться с менеджером</div>
			</div>
			<div class="modal-content">
				<div class="modal-feedback-contacts">
					<div>Для получения информации о товаре «Под заказ» вы можете позвонить по телефонам:</div>
					@@include('contacts-tels.html')
					<div>или воспользоваться формой обратной связи, менеджер свяжется с вами в ближайшее время:</div>
				</div>
				<form action="?" class="feedback-form form">
					<label class="form-block" aria-label="Имя">
						<input type="text" class="input" placeholder="Имя" required>
					</label>
					<label class="form-block" aria-label="Телефон">
						<input type="tel" class="input" placeholder="+7 (777) 777-77-77" required>
					</label>
					<div class="submit-wrapp">
						<button type="submit" class="btn submit btn-full">Отправить</button>
					</div>
					<div class="form-agreement">Нажимая кнопку «Отправить», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии моих заказов, а также принимаю условия <a href="#">политики конфиденциальности</a>.</div>
				</form>
			</div>
		</div>
	</div>
}
@@if(context.ordering){
	<div id="modal-ordering-delivery-point" class="modal modal-ordering-delivery-point">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Москва</div>
			</div>
			<div class="modal-content">
				
			</div>
		</div>
	</div>
}
@@if(context.passwordChange){
	<div id="modal-password-change" class="modal modal-password-change">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Восстановление пароля</div>
			</div>
			<div class="modal-content">
				<div class="modal-desc">Введите новый пароль для доступа в личный кабинет</div>
				<form action="?" class="password-change-form form form-ajax" data-modal-sent="#modal-password-change-sent">
					<label class="form-block form-block-password">
						<span class="form-block-title">Новый пароль</span>
						<span class="input-wrapp">
							<input type="password" class="input" pattern=".{8,}" required>
							<a href="#" class="password-input-type-toggle">
								<svg width="18" height="18"><use xlink:href="#icon-eye-open"/></svg>
								<svg width="18" height="18"><use xlink:href="#icon-eye-close"/></svg>
							</a>
						</span>
						<span class="form-block-desc">Пароль должен быть не меньше 8 символов</span>
					</label>
					<label class="form-block form-block-password">
						<span class="form-block-title">Новый пароль ещё раз</span>
						<span class="input-wrapp">
							<input type="password" class="input" pattern=".{8,}" required>
							<a href="#" class="password-input-type-toggle">
								<svg width="18" height="18"><use xlink:href="#icon-eye-open"/></svg>
								<svg width="18" height="18"><use xlink:href="#icon-eye-close"/></svg>
							</a>
						</span>
					</label>
					<button type="submit" class="btn submit btn-full">Сохранить изменения</button>
				</form>
			</div>
		</div>
	</div>
	<div id="modal-password-change-sent" class="modal modal-password-change-sent">
		<div class="modal-body">
			<a href="#" class="modal-close-btn" aria-label="Закрыть">
				<svg width="24" height="24"><use xlink:href="#icon-close"/></svg>
			</a>
			<div class="modal-head">
				<div class="modal-title">Пароль изменен</div>
			</div>
			<div class="modal-content">
				<div class="modal-desc">Ваш пароль успешно изменен. Теперь вы можете войти в личный кабинет.</div>
				<a href="#modal-enter" class="btn btn-full modal-open-btn">Вход в личный кабинет</a>
			</div>
		</div>
	</div>
}
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.ui.slider.js"></script>
<script src="js/jquery.form.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>