<div class="header-catalog-sub-menu">
	<div class="container">
		<ul class="header-catalog-sub-menu-list header-catalog-menu-level-2">
			<li class="header-catalog-menu-view-all">
				<a href="#">
					<i></i>
					<b>Все товары категории</b>
				</a>
			</li>
			<li>
				<a href="#">
					<i></i>
					<span>Реабилитационные тренажеры<span>
				</a>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Трости, костыли, канадки, ходунки, роллаторы</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Складные трости&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Трехопорные трости&nbsp;<span>(2)</span></span></a></li>
					<li><a href="#"><span>Четырехопорные трости&nbsp;<span>(5)</span></span></a></li>
					<li><a href="#"><span>Локтевые костыли&nbsp;<span>(26)</span></span></a></li>
					<li><a href="#"><span>Подмышечные костыли&nbsp;<span>(19)</span></span></a></li>
					<li><a href="#"><span>Роллаторы&nbsp;<span>(15)</span></span></a></li>
					<li><a href="#"><span>Ходунки&nbsp;<span>(22)</span></span></a></li>
					<li><a href="#"><span>Аксессуары для тростей&nbsp;<span>(15)</span></span></a></li>
					<li><a href="#"><span>Аксессуары для костылей&nbsp;<span>(16)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Инвалидные коляски</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Инвалидные кресла-коляски для детей&nbsp;<span>(9)</span></span></a></li>
					<li><a href="#"><span>Кресла-каталки&nbsp;<span>(9)</span></span></a></li>
					<li><a href="#"><span>Механические&nbsp;<span>(99)</span></span></a></li>
					<li><a href="#"><span>Электрические&nbsp;<span>(33)</span></span></a></li>
					<li><a href="#"><span>Противопролежневые подушки для колясок&nbsp;<span>(7)</span></span></a></li>
					<li><a href="#"><span>Аксессуары для колясок&nbsp;<span>(9)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Санитарные приспособления, приспособления для мытья и гигиены</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Насадки на унитаз&nbsp;<span>(10)</span></span></a></li>
					<li><a href="#"><span>Кресла - туалеты&nbsp;<span>(27)</span></span></a></li>
					<li><a href="#"><span>Судна, мочеприемники&nbsp;<span>(34)</span></span></a></li>
					<li><a href="#"><span>Стулья и табуреты для ванны&nbsp;<span>(18)</span></span></a></li>
					<li><a href="#"><span>Сиденья и доски для ванны&nbsp;<span>(7)</span></span></a></li>
					<li><a href="#"><span>Поручни&nbsp;<span>(8)</span></span></a></li>
					<li><a href="#"><span>Ступени для ванны&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Надувные ванны&nbsp;<span>(1)</span></span></a></li>
					<li><a href="#"><span>Средства для мытья&nbsp;<span>(20)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Средства по уходу</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Комфорт ухода&nbsp;<span>(11)</span></span></a></li>
					<li><a href="#"><span>Системы энтерального питания&nbsp;<span>(6)</span></span></a></li>
					<li><a href="#"><span>Лечение пролежней&nbsp;<span>(17)</span></span></a></li>
					<li><a href="#"><span>Наматрасники&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Пеленки и простыни&nbsp;<span>(23)</span></span></a></li>
					<li><a href="#"><span>Подгузники&nbsp;<span>(68)</span></span></a></li>
					<li><a href="#"><span>Урологические прокладки&nbsp;<span>(25)</span></span></a></li>
					<li><a href="#"><span>Ранозаживляющие средства&nbsp;<span>(4)</span></span></a></li>
					<li><a href="#"><span>Лечебные повязки&nbsp;<span>(58)</span></span></a></li>
					<li><a href="#"><span>Пластыри&nbsp;<span>(14)</span></span></a></li>
					<li><a href="#"><span>Уход за кожей&nbsp;<span>(11)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Товары для врачей и медицинских учреждений</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Дезинфицирующие средства&nbsp;<span>(66)</span></span></a></li>
					<li><a href="#"><span>Диагностический инструмент&nbsp;<span>(39)</span></span></a></li>
					<li><a href="#"><span>Измерительные приборы&nbsp;<span>(44)</span></span></a></li>
					<li><a href="#"><span>Лабораторная посуда&nbsp;<span>(75)</span></span></a></li>
					<li><a href="#"><span>Медицинская одежда&nbsp;<span>(98)</span></span></a></li>
					<li><a href="#"><span>Медицинские инструменты&nbsp;<span>(52)</span></span></a></li>
					<li><a href="#"><span>Медицинское оборудование&nbsp;<span>(108)</span></span></a></li>
					<li><a href="#"><span>Расходные материалы&nbsp;<span>(1147)</span></span></a></li>
					<li><a href="#"><span>Рентгенология&nbsp;<span>(79)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Домашняя медтехника</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Аппараты физиотерапии&nbsp;<span>(6)</span></span></a></li>
					<li><a href="#"><span>Аппараты магнитотерапии&nbsp;<span>(12)</span></span></a></li>
					<li><a href="#"><span>Ингаляторы, небулайзеры&nbsp;<span>(38)</span></span></a></li>
					<li><a href="#"><span>Термометры, градусники&nbsp;<span>(15)</span></span></a></li>
					<li><a href="#"><span>Динамометры&nbsp;<span>(5)</span></span></a></li>
					<li><a href="#"><span>Таблетницы&nbsp;<span>(4)</span></span></a></li>
					<li><a href="#"><span>Тонометры&nbsp;<span>(51)</span></span></a></li>
					<li><a href="#"><span>Глюкометры&nbsp;<span>(4)</span></span></a></li>
					<li><a href="#"><span>Пульсоксиметры&nbsp;<span>(8)</span></span></a></li>
					<li><a href="#"><span>Кварцевые лампы, облучатели&nbsp;<span>(30)</span></span></a></li>
					<li><a href="#"><span>Тесты&nbsp;<span>(5)</span></span></a></li>
					<li><a href="#"><span>Алкотестеры&nbsp;<span>(7)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Все для стомы</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Калоприемники&nbsp;<span>(29)</span></span></a></li>
					<li><a href="#"><span>Уроприемники&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Мешки сборные&nbsp;<span>(20)</span></span></a></li>
					<li><a href="#"><span>Пластины для кожи&nbsp;<span>(18)</span></span></a></li>
					<li><a href="#"><span>Защитные и очищающие средства&nbsp;<span>(19)</span></span></a></li>
					<li><a href="#"><span>Защитные кольца&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Аксессуары&nbsp;<span>(7)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Кислородная терапия</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Кислородные подушки&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Маски аэрозольные&nbsp;<span>(4)</span></span></a></li>
					<li><a href="#"><span>Маски кислородные&nbsp;<span>(15)</span></span></a></li>
					<li><a href="#"><span>Канюли&nbsp;<span>(14)</span></span></a></li>
					<li><a href="#"><span>Кислородные трубки&nbsp;<span>(6)</span></span></a></li>
					<li><a href="#"><span>Концентраторы кислорода&nbsp;<span>(4)</span></span></a></li>
					<li><a href="#"><span>Принадлежности для кислородных коктейлей&nbsp;<span>(2)</span></span></a></li>
					<li><a href="#"><span>Кислородные баллоны&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Тренировка дыхания&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>CPAP-терапия&nbsp;<span>(5)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Медицинские кровати</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Функциональные кровати&nbsp;<span>(44)</span></span></a></li>
					<li><a href="#"><span>Аксессуары для медицинских кроватей&nbsp;<span>(6)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Ортопедические изделия</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Бандажи для беременных&nbsp;<span>(13)</span></span></a></li>
					<li><a href="#"><span>Бандажи и ортезы для верхних конечностей&nbsp;<span>(128)</span></span></a></li>
					<li><a href="#"><span>Бандажи и ортезы для нижних конечностей&nbsp;<span>(155)</span></span></a></li>
					<li><a href="#"><span>Бандажи и ортезы на спину&nbsp;<span>(133)</span></span></a></li>
					<li><a href="#"><span>Бандажи при опущении внутренних органов&nbsp;<span>(14)</span></span></a></li>
					<li><a href="#"><span>Ортопедические стельки, корректоры пальцев&nbsp;<span>(174)</span></span></a></li>
					<li><a href="#"><span>Паховые бандажи&nbsp;<span>(23)</span></span></a></li>
					<li><a href="#"><span>Послеоперационные бандажи&nbsp;<span>(52)</span></span></a></li>
					<li><a href="#"><span>Противогрыжевые бандажи&nbsp;<span>(4)</span></span></a></li>
					<li><a href="#"><span>Пупочные бандажи&nbsp;<span>(2)</span></span></a></li>
					<li><a href="#"><span>Шейные ортезы&nbsp;<span>(13)</span></span></a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">
					<i><svg width="24" height="24"><use xlink:href="#icon-chevron-down"/></svg></i>
					<span>Ортопедические подушки и матрасы</span>
				</a>
				<ul class="header-catalog-sub-menu-list header-catalog-menu-level-3">
					<li class="header-catalog-menu-view-all"><a href="#"><b>Все товары категории</b></a></li>
					<li><a href="#"><span>Валики&nbsp;<span>(7)</span></span></a></li>
					<li><a href="#"><span>На сидение&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Под голову&nbsp;<span>(38)</span></span></a></li>
					<li><a href="#"><span>Под ноги&nbsp;<span>(2)</span></span></a></li>
					<li><a href="#"><span>Под спину&nbsp;<span>(3)</span></span></a></li>
					<li><a href="#"><span>Матрасы&nbsp;<span>(18)</span></span></a></li>
					<li><a href="#"><span>Наматрасники&nbsp;<span>(4)</span></span></a></li>
					<li><a href="#"><span>Топперы&nbsp;<span>(14)</span></span></a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>