<div class="main-articles-col flex-row-item">
	<div class="main-article-item">
		<a href="#" class="item-link" aria-label="Читать статью"></a>
		<div class="main-article-item-body">
			<div class="main-article-item-title">@@title</div>
			<div class="main-article-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ac turpis nunc bibendum quam venenatis. Nunc amet, ullamcorper in nunc.</div>
			<div class="main-article-item-btn">Читать&nbsp;&#62;</div>
			<div class="main-article-item-views">
				<svg width="20" height="20"><use xlink:href="#icon-eye"/></svg>
				<span>@@views</span>
			</div>
		</div>
		<div class="main-article-item-img cover-img">
			<img src="img/main-article-item-img-@@img.png" srcset="img/main-article-item-img-@@img@2x.png 2x" alt="">
		</div>
	</div>
</div>