<div class="ordering-confirm-items">
	@@for(var i = 0; i < 2; i++){
		<div class="ordering-confirm-item ordering-confirm-product">
			<div class="ordering-confirm-item-body">
				<div class="cart-item-product ordering-confirm-item-product">
					<a href="#" class="item-link" aria-label="На страницу продукта"></a>
					<div class="cart-item-product-img">
						<img src="img/cart-item-product-img.jpg" srcset="img/cart-item-product-img@2x.jpg" alt="">
					</div>
					<div class="cart-item-product-body">
						<div class="cart-item-product-title">Ортопедическая подушка под голову Qmed STANDARD</div>
						<div class="cart-item-product-code">Артикул: <b>0123912-Qm-S</b></div>
						<ul class="cart-item-product-info">
							<li>Цвет: белый
							<li>Размер: М
						</ul>
					</div>
				</div>
				<div class="ordering-confirm-item-info">
					<div class="ordering-confirm-item-number">Количество: 1 шт</div>
					<div class="ordering-confirm-item-price">5 094 ₽</div>
				</div>
			</div>
		</div>
	}
	<div class="ordering-confirm-item">
		<div class="ordering-confirm-item-body">
			<div class="ordering-confirm-item-delivery-title">Доставка</div>
			<div class="ordering-confirm-item-delivery-info">
				<p>До пункта выдачи заказа СДЕК
				<p>Дата получения: 23-25 марта 2021 г
				<p>Москва, ул. Летная, д. 7, стр. 4
				<p>График работы 8-00 - 22-00
				<p>Тел.: +7 (000) 000-00-00 
			</div>
			<div class="ordering-confirm-item-delivery-price ordering-confirm-item-price">195 ₽</div>
		</div>
	</div>
	@@if(!context.order){
		<div class="ordering-confirm-item ordering-confirm-cost">
			<div class="ordering-confirm-item-body">
				<div class="ordering-confirm-item-total-title">Итоговая стоимость:</div>
				<div class="ordering-confirm-item-total-price">45 032 ₽</div>
			</div>
		</div>
	}
</div>