<div class="pagination-wrapp">
	<ul class="pagination">
		<li class="pagination-prev">
			<a href="#" aria-label="Назад">
				<svg width="22" height="22"><use xlink:href="#icon-arrow-down"/></svg>
			</a>
		</li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><span>...</span></li>
		<li><a href="#">32</a></li>
		<li class="pagination-next">
			<a href="#" aria-label="Вперед">
				<svg width="22" height="22"><use xlink:href="#icon-arrow-down"/></svg>
			</a>
		</li>
	</ul>
</div>